body {
  text-align: center;
  background-image: url(images/leather-bg.jpg);
}

h1 {
  font-size: 5rem;
  color: #E0A518;
  font-family: 'Rock Salt', cursive;
  text-shadow: 4px 0 #ffffff;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.a {
  background-image: url('images/crash.png');
}

.s {
  background-image: url('images/kick.png');

}

.d {
  background-image: url('images/snare.png');

}

.f {
  background-image: url('images/tom1.png');
}

.j {
  background-image: url('images/tom2.png');

}

.k {
  background-image: url('images/tom3.png');

}

.l {
  background-image: url('images/tom4.png');

}

.set {
  margin: 10% auto;
  margin-top: 8rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  /* font-family: 'Rock Salt', cursive; */
  outline: none;
  border: 10px solid #E0A619;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #E0A619;
  text-shadow: 3px 0 #926A2F;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
